<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">Agendamiento Vehicular</div>
    <ul class="navbar-menu">
      <li><a href="/">Dashboard</a></li>
      <li><a href="/citas">Citas</a></li>
      <li><a href="/vehiculos">Vehículos</a></li>
      <li><a href="/propietarios">Propietarios</a></li>
    </ul>
  </div>
</nav>